.logo {
}
.logo img {
  width: 150px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Segoe UI";
}
.right ul {
  gap: 34px;
  display: flex;
}
.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.right ul li span {
  padding: 0 5px;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin: 70px;
  font-family: sans-serif;
}
.first span {
  font-size: 40px;
}
section span img {
  width: 82px;
  margin: 0 23px;
}
.first p {
  font-size: 23px;
  width: 44vw;
  text-align: center;
}
.btn {
  background: #00b6d1;
  padding: 14px 16px;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin: 12px 0;
  cursor: pointer;
}

.green {
  background: #5cb85c;
}
.flex {
  display: flex;
}
.small {
  font-size: 12px;
}
.second {
  max-width: 50vw;
  margin: auto;
}

.item {
  padding: 23px;
  background: #f9f9f9;
  border-radius: 12px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.item-lang {
  font-weight: 700;
  text-align: center;
  padding-bottom: 36px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.download :nth-child(2) {
  font-size: 23px;
}

.download img {
  padding: 0px 12px;
}

.download {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}
@media screen and (max-width: 1145px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.btn a {
  text-decoration: none;
  color: white;
}
